<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from learnplus.frontendmatter.com/my-courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jun 2018 08:42:35 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student - My Courses</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="/vendor/simplebar.css" rel="stylesheet">

    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
        rel="stylesheet">

    <!-- MDK -->
    <link type="text/css" href="/vendor/material-design-kit.css" rel="stylesheet">

    <!-- Sidebar Collapse -->
    <link type="text/css" href="/vendor/sidebar-collapse.min.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/css/style.css" rel="stylesheet">





</head>

<body>

    <div class="d-flex flex-column h-100">
        <!-- Navbar -->
        <%- include ('partials/navbar.ejs') %>
        <!-- // END Navbar -->

        <div class="mdk-drawer-layout js-mdk-drawer-layout flex" data-fullbleed data-push data-has-scrolling-region>
            <div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
                <div class="container-fluid">

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">My Courses</li>
                    </ol>
                    <div class="page-heading text-md-right">
                        <div class="btn-group">
                            <a href="#" class="btn btn-white  button-view " id="list-btn"><i
                                    class="material-icons">list</i></a>
                            <a href="#" class="btn btn-white  active button-view" id="dashboard-btn"><i
                                    class="material-icons">dashboard</i></a>
                        </div>
                    </div>
                    <div class="row row-cols-2 quiz">
                        <%for(var i=0;i<quiz_title.length;i++){%>
                            <!-- 1 bai lam -->
                            <div class="col-sm-4">
                                <div class="card  ">
                                    <div class="card-header bg-white d-flex justify-content-between">
                                        <h4 class="card-title"><a href="">
                                                <%=quiz_title[i]%>
                                            </a></h4>
                                        <h2 class="text-primary grade">
                                            <%=quiz_take[i].score%>
                                        </h2>

                                    </div>

                                    <div class="card-footer bg-white ">
                                        <a class="btn btn-primary btn-sm review_button" value="<%=i%>">Review <i
                                                class="material-icons btn__icon--right">play_circle_outline</i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- het 1 bai lam -->
                            <%}%>
                    </div>
                </div>
            </div>

            <%- include ('partials/user_menu.ejs') %>

        </div>
    </div>

    <!-- jQuery -->
    <script src="/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/vendor/popper.min.js"></script>
    <script src="/vendor/bootstrap.min.js"></script>

    <!-- Simplebar -->
    <!-- Used for adding a custom scrollbar to the drawer -->
    <script src="/vendor/simplebar.js"></script>

    <!-- MDK -->
    <script src="/vendor/dom-factory.js"></script>
    <script src="/vendor/material-design-kit.js"></script>

    <!-- Sidebar Collapse -->
    <script src="/vendor/sidebar-collapse.js"></script>

    <!-- App JS -->
    <!-- <script src="../assets/js/main.js"></script> -->

    <!-- <script src="../assets/js/quiz-results.js"></script> -->

    <script>

        $(document).ready(function () {
            $('.review_button').click(function () {
                var ans_list = [];
                var quiz_id = [];
        <%for (var i = 0; i < quiz_take.length; i++) {%>
                    ans_list.push([<%=quiz_take[i].answer_list %>]);
                    quiz_id.push("<%=quiz_take[i].quiz%>");
            <%}%>
                var n = parseInt($(this).attr("value"));
                var rs = {
                    ans_list: ans_list[n],
                    quiz_id: quiz_id[n]
                }
                var $form = $("<form />");
                $form.attr("action", "http://localhost:3000/quiz_result");
                $form.attr("method", "POST");
                $form.append('<input type="hidden" name="ans_list" value="' + rs.ans_list + '" />');
                $form.append('<input type="hidden" name="quiz_id" value="' + rs.quiz_id + '" />');
                $("body").append($form);
                $form.submit();
                console.log("done");
            })
        })
    </script>


</body>


<!-- Mirrored from learnplus.frontendmatter.com/my-courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jun 2018 08:42:35 GMT -->

</html>