<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from learnplus.frontendmatter.com/quiz-results.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jun 2018 08:42:35 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student - Quiz results</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="/vendor/simplebar.css" rel="stylesheet">

    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
        rel="stylesheet">

    <!-- MDK -->
    <link type="text/css" href="/vendor/material-design-kit.css" rel="stylesheet">

    <!-- Sidebar Collapse -->
    <link type="text/css" href="/vendor/sidebar-collapse.min.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <style>
        p {
            color: #000;
        }
    </style>



</head>

<body>

    <div class="d-flex flex-column h-100">
        <!-- Navbar -->
        <%- include ('partials/navbar.ejs') %>

        <!-- // END Navbar -->

        <div class="mdk-drawer-layout js-mdk-drawer-layout flex" data-fullbleed data-push data-has-scrolling-region>
            <div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
                <div class="container-fluid">

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
                        <li class="breadcrumb-item active">Quiz Results</li>
                    </ol>
                    <div class="page-heading">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="images/vuejs.png" alt="" width="80" class="rounded">
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="mb-0">
                                    <%=quiz.title%>
                                </h4>
                                <small class="text-muted">submited on 2nd Feb 2016</small>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Result</h4>
                        </div>
                        <div class="card-body media">
                            <div class="media-body media-middle">
                                <h4 class="mb-0">
                                    <%=score%>.0
                                </h4>
                            </div>
                            <div class="media-right media-middle">
                                <a href="take-quiz.html" class="btn btn-primary">Restart <i
                                        class="material-icons btn__icon--right">refresh</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Questions</h4>
                        </div>
                        <ul class="list-group list-group-fit mb-0">
                            <%for(var i=0;i<quiz.questions.length;i++){%>
                                <!-- 1 cau hoi -->
                                <li class="list-group-item">
                                    <div class="card">
                                        <div id="9" class="card-header bg-white">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <h4 class="mb-0"><strong>Question <%=(i+1)%>:</strong></h4>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="card-title">
                                                        <%- quiz.questions[i].question%>
                                                    </h4>
                                                </div>
                                                <div class="media-right">
                                                    <%if(quiz.questions[i].right_answer===ans_list[i]){%>
                                                        <span class="badge badge-success ">Correct</span>
                                                        <%}else{%>
                                                            <span class="badge badge-danger ">Wrong</span>
                                                            <%}%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <%for(var z=0;z<quiz.questions[i].answers.length;z++){%>
                                            <!-- 1 cau tra loi -->
                                            <%if((z)==quiz.questions[i].right_answer && (z)==ans_list[i]){%>
                                                <div class="form-group">
                                                    <label class="custom-control custom-checkbox mb-0"
                                                        style="color: green;">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customCheckBox" checked onclick="return false;" />
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description"></span>
                                                        <%- quiz.questions[i].answers[z]%>
                                                            </span>
                                                    </label>
                                                </div>
                                                <%}%>
                                                    <%if((z)==quiz.questions[i].right_answer && (z)!=ans_list[i]){%>
                                                        <div class="form-group">
                                                            <label class="custom-control custom-checkbox mb-0"
                                                                style="color: green;">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="customCheckBox" onclick="return false;" />
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">
                                                                    <%- quiz.questions[i].answers[z]%>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <%}%>
                                                            <%if((z)!=quiz.questions[i].right_answer &&
                                                                (z)==ans_list[i]){%>
                                                                <div class="form-group">
                                                                    <label class="custom-control custom-checkbox mb-0"
                                                                        style="color:red;">
                                                                        <input type="checkbox"
                                                                            class="custom-control-input"
                                                                            id="customCheckBox" checked
                                                                            onclick="return false;" />
                                                                        <span class="custom-control-indicator"></span>
                                                                        <span class="custom-control-description">
                                                                            <%-quiz.questions[i].answers[z]%>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <%}%>
                                                                    <%if((z)!=quiz.questions[i].right_answer &&
                                                                        (z)!=ans_list[i]){%>
                                                                        <div class="form-group">
                                                                            <label
                                                                                class="custom-control custom-checkbox mb-0">
                                                                                <input type="checkbox"
                                                                                    class="custom-control-input"
                                                                                    id="customCheckBox"
                                                                                    onclick="return false;" />
                                                                                <span
                                                                                    class="custom-control-indicator"></span>
                                                                                <span
                                                                                    class="custom-control-description">
                                                                                    <%-quiz.questions[i].answers[z]%>
                                                                                </span>
                                                                            </label>
                                                                        </div>
                                                                        <%}%>

                                                                            <!-- Het 1 cau tra loi -->
                                                                            <%}%>
                                    </div>
                                </li>
                                <!-- Het 1 cau hoi -->
                                <%}%>
                        </ul>
                    </div>

                    <div id="statictis">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Statictis</h4>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <canvas class="chart" id="barChart" height="30%" width="100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <%- include ('partials/user_menu.ejs') %>

        </div>
    </div>

    <!-- jQuery -->



    <script src="/vendor/simplebar.js"></script>
    <script src="/vendor/jquery.min.js"></script>


    <script src="/vendor/popper.min.js"></script>
    <script src="/vendor/bootstrap.min.js"></script>

    <script src="/vendor/dom-factory.js"></script>
    <script src="/vendor/material-design-kit.js"></script>


    <script src="/vendor/sidebar-collapse.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/colors.js"></script>
    <script src="/vendor/raphael.min.js"></script>
    <script src="/vendor/morris.min.js"></script>
    <script src="/vendor/Chart.min.js"></script>
    <script src="/js/chart.js"></script>
    <!-- <script src="assets/js/chartjs.js"></script> -->

</body>

<script>
    var ctx = document.getElementById('barChart').getContext('2d');
    var n = <%=quiz.questions.length%>;
    var scal = <%=quiz.count_taker%> /10;
    var label = [];
    for (var i = 1; i <= n; i++) {
        label.push('Question ' + i);
    }
    var dat = [];
    <%for (var i = 0; i < quiz.questions.length; i++) {%>
        dat.push(<%=quiz.questions[i].right_ans_count %>);
    <%}%>
    var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: label,
                datasets: [{
                    label: 'Correct Users',
                    data: dat,
                    backgroundColor: "rgba(159,170,174,0.8)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(232,105,90,0.8)",
                    hoverBorderColor: "orange",
                    scaleStepWidth: 1,

                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "blue",
                        fontSize: 18
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "green",
                            fontSize: 18,
                            stepSize: scal,
                            display: false,
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "purple",
                            fontSize: 14,
                            stepSize: 1,
                            beginAtZero: true
                        }
                    }]
                }
            }



        });
    // var ctx = document.getElementById("barChart");
    // var myChart = new Chart(ctx, {
    //     type: "bar",
    //     data: {
    //         labels: ["label 1", "label 2"], 
    //         datasets: [{
    //             label: "My Label",
    //             backgroundColor: "rgba(159,170,174,0.8)",
    //             borderWidth: 1,
    //             hoverBackgroundColor: "rgba(232,105,90,0.8)",
    //             hoverBorderColor: "orange",
    //             scaleStepWidth: 1,
    //               data: [4, 5]
    //         }]
    //     },
    //     options: { 
    //         legend: {
    //             labels: {
    //                 fontColor: "blue",
    //                 fontSize: 18
    //             }
    //         },
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     fontColor: "green",
    //                     fontSize: 18,
    //                     stepSize: 1,
    //                     beginAtZero: true
    //                 }
    //             }],
    //             xAxes: [{
    //                 ticks: {
    //                     fontColor: "purple",
    //                     fontSize: 14,
    //                     stepSize: 1,
    //                     beginAtZero: true
    //                 }
    //             }]
    //         }
    //     }
    // });
</script>


<!-- Mirrored from learnplus.frontendmatter.com/quiz-results.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jun 2018 08:42:35 GMT -->

</html>